body {
    box-sizing: border-box;
    font-family: "Roboto";
  }
  
  button {
    cursor: pointer;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  /* NAVBAR */
  
  .navbar h1 {
    width: 300px;
    font-size: 44px;
    font-family: "Righteous";
    color: #ffffff;
  }
  .navbar h2 {
    width: 300px;
    font-size: 18px;
    color: #ffffff;
  }
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 98.5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #cf2b2b;
    z-index: 1;
  }
  
  /* CONTEUDO */
  
  .conteudo {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    margin-bottom: 92px;
  }
  
  /* PRATOS */
  
  .titulo {
    top: 0;
    left: 0;
    position: sticky;
    font-weight: 400;
    font-size: 26px;
    font-family: "Righteous";
    margin-left: 20px;
    margin-top: 30px;
    left: 20px;
    margin-bottom: 20px;
    color: #333333;
  }
  .selectPratos {
    position: relative;
    overflow-x: scroll;
  }
  .pratos ul {
    width: 100%;
    display: flex;
  }
  .prato {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-left: 20px;
    padding: 20px;
    background-color: #ffffff;
    width: 172px;
  }
  .prato h3 {
    margin-top: 10px;
  }
  .prato p {
    margin-top: 10px;
  }
  .prato {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .prato .descricao {
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
  }
  .prato .valor {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
  }
  .active {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 0px 5px #32b72f;
  }
  
  ion-icon {
    position: absolute;
    color: #32b72f;
    bottom: 15px;
    right: 12px;
    visibility: initial;
  }
  
  /* FOOTER */
  .footer {
    background-color: #ffffff;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .btn {
    border: 0;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 75%;
    color: white;
    background-color: #cbcbcb;
    border-radius: 50px;
  }
  .btnActive {
    font-weight: 700;
    background-color: #32b72f;
  }
  
  /* POPUP */
  
  .popup {
    top: calc(50% / 2 - 0.5px);
    position: fixed;
    padding: 20px;
    height: 40%;
    background-color: #50d074;
    width: 80%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 9px;
  }
  .popup span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .popup h4 {
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
  }
  .popupActions {
    display: flex;
    flex-direction: column;
  }
  .popupActions button:nth-child(1) {
    font-size: 22px;
    font-weight: 700;
    background-color: #ffffff;
    color: #50d074;
    border: 0;
    border-radius: 100px;
    height: 50px;
  }
  .popupActions button:nth-child(2) {
    color: #ffffff;
    background-color: inherit;
    border: 0;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
  }
  .popupContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .selectedPratoPrincipal p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
  }
  
  .selectedBebida p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
  }
  
  .selectedSobremesa p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
  }
  
  .total p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
  }
  
  /* BLUR */
  .blur {
    filter: blur(2px);
  }
  
  /* DisplayNone */
  
  .displayNone {
    display: none;
  }
  